<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @owner.time %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @owner.phone_number %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>

<hr>
<h3>Apartments:</h3>
<p>
  <ul>
    <% @owners.apartments.each do |apartment| %>
      <li>
        <a href="/apartments/<%=apartment.id%>"><%= apartment.address1 %></a>
      </li>
    <%end%>
  </ul>
</p>
