<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @owner.time %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @owner.phone_number %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
