<%= form_for @apartment, html: { multipart: true } do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :postalcode %><br>
    <%= f.number_field :postalcode %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="field">
    <%=f.label :description %><br>
    <%=f.text_area :description, :rows => "5"%>
  </div>
  <hr>
  <%if !current_user.roles[0].name == 'admin' %>
    <label>Owner: <%=current_user.name%></label>
    <div class="field">
      <%=f.hidden_field :user_id, :value => current_user.id %>
    </div>
  <%else%>
    <label>Pick an owner:</label>
    <div class="field">
      <%= select(:apartment, :user_id, @users_for_select) %>
    </div><br>
  <%end%>
  <div class="field">
    <%=f.label :phone%><br>
    <%=f.text_field :phone%>
  </div>
  <div class="field">
    <%=f.label :time%><br>
    <%=f.text_area :time%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
