<p id="notice"><%= notice %></p>

<p>
  <%if !@apartment.image_file_name.nil?%>
    <%=image_tag @apartment.image.url(:large)%>
  <%end%>
</p>

<p>
  <strong>Address1:</strong>
  <%= @apartment.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @apartment.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @apartment.city %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @apartment.postalcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @apartment.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @apartment.country %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @apartment.owner.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @apartment.description %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>

<div id="map">Google map will appear here...</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {},
    internal: {id: 'map'}
  },
  function() {
    markers = handler.addMarkers(<%=raw @pindrop.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  }
);
</script>
